#sidebar .nav-link {
  padding: 5px;
}

.nav-icon {
  opacity: 0.5;
}

.nav-item:last-child {
  border-bottom: none !important;
}

.menuItem:hover {
  cursor: pointer;
}

.inactive {
  display: none;
}

.active {
  display: block;
}

.nav-link {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}
