.preview {
  overflow-x: scroll;
}

.preview-container {
  padding: 10px;
  min-height: 475px;
  border: 1px solid black;
}

.editor textarea {
  padding: 10px;
  min-height: 475px;
  height: 100%;
  min-width: 440px;
  width: 100%;
}

.contribute-btn {
  color: #4f4c4c;
  background-color: #f4f4f4;
  padding: 5px 30px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5%;
}
